body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 60px 0px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    /* border: 5px solid orange; */
    padding-left: 12px;
}


.img-1{
    background: url("./Media/Desire\ 01.JPG");
}
.img-2{
    background: url("./Media/Desire\ 02.JPG");
}
.img-3{
    background: url("./Media/Desire\ 03.JPG");
}
.img-4{
    background: url("./Media/Desire\ 04.JPG");
}
.img-5{
    background: url("./Media/05.JPG");
}
.img-6{
    background: url("./Media/Desire\ 06.JPG");
}
.img-7{
    background: url("./Media/Desire\ 07.JPG");
}
.img{
    width: 400px;
    height: 500px;
    /* border: 3px solid red; */
    background-position: center;
    background-size: contain;
}
.text-title{
    color: rgba(255, 217, 0, 0.79);
    font-size: 3rem;
    text-align: center;
    font-family: cursive;
}
.btn{
    margin-left: 4rem;
    padding: 10px 14px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 217, 0, 0.79);
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(255, 217, 0, 0.79);
    color: black;

}
@media screen and (max-width: 480px) {
    .text-title{
        
        font-size: 2rem;
        
    }
    .image-container {
        column-gap: 10px;
        row-gap: 30px;
        /* border: 5px solid orange; */
        padding: 0px 10px 0px 10px;
    }
    
}